/*  Google Fonts - Poppins  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}
.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card {
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #e1e5e8;
    border-radius: 25px 25px 0 25px;
    /* transition: background-color 0.3s ease; */
}
.selected .overlay {
    background-color: #27f374;
}

.selected .overlay::before {
    background-color: #27f374;
}

.selected .card {
    background-color: #f1f1f1;
}

.overlay::before,
.overlay::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #e1e5e8;
}
.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}
.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover {
    background: #265df2;
}

.button-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}

#toggle-mode,
#accept-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggle-mode:hover,
#accept-button:hover {
    background-color: #3e8e41;
}
a:link {
    color: #999999;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: #999999;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.swiper-navBtn {
    color: #6e93f7;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover {
    color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}
.swiper-button-next {
    right: 0;
}
.swiper-button-prev {
    left: 0;
}
.swiper-pagination-bullet {
    background-color: #6e93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #4070f4;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.switch {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-label {
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #c4c4c4;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s;
}

.switch-label::after {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: left 0.2s;
}

.switch:checked + .switch-label {
    background-color: #6db04c;
}

.switch:checked + .switch-label::after {
    left: 33px;
}

.switch-text {
    margin-left: 10px;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }
    .swiper-navBtn {
        display: none;
    }
}
